*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* -- Colors -- */
  --primary-1: #996830;
  --primary-2: #c4a386;
  --primary-3: #e5d7cb;
  --white: white;
  --neutral-1: #2c2c2c;
  --neutral-2: #565656;
  --neutral-3: #848484;
  --neutral-4: #d9d9d9;

  /* -- Fonts -- */
  --ff-serif: "Playfair Display", serif;
  --ff-sans-serif: "Outfit", sans-serif;

  --f-heading-1: 72px/96px var(--ff-serif);
  --f-heading-2: 60px/72px var(--ff-serif);
  --f-heading-3: 48px/56px var(--ff-serif);
  --f-heading-4: 36px/48px var(--ff-serif);
  --f-heading-6: 24px/32px var(--ff-serif);

  --f-body-1: 18px/32px var(--ff-sans-serif);
  --f-body-2: 14px/24px var(--ff-sans-serif);

  --f-label-1: 14px/24px var(--ff-sans-serif);
  --f-label-2: 12px/16px var(--ff-sans-serif);

  --f-lead: 20px/32px "Lead";
  --f-eyebrow: 14px/20px;

  font: var(--body-1);
}

.container {
  width: 1216px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.header__links {
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  font: var(--f-label-1);
  color: var(--neutral-1);
  padding: 12px 20px;
}

.button {
  background-color: var(--primary-1);
  color: var(--white);
  border: none;
  font: var(--f-label-2);
  text-decoration: none;
  padding: 12px 20px;
}

.hero__container {
  padding-top: 168px;
  padding-bottom: 80px;
}

.hero__title {
  font: var(--f-heading-1);
  color: var(--neutral-1);
  text-align: center;
  margin-bottom: 24px;
}

.hero__descriptiopn {
  margin: 0 auto;
  font: var(--f-lead);
  color: var(--neutral-2);
  text-align: center;
  width: 600px;
}

.img {
  display: block;
  width: 100%;
  height: 640px;
}

.award-section {
  background-color: var(--neutral-1);
}

.award {
  display: flex;
  align-items: center;
}

.award__text {
  color: var(--neutral-4);
  margin-left: 12px;
  font: var(--f-body-2);
}

.award__img {
  width: 80px;
  height: 80px;
}

.award-section__line {
  width: 64px;
  height: 1px;
  background-color: var(--white);
  opacity: 50%;
}

.award-section__text {
  color: var(--white);
  font: var(--f-heading-6);
  opacity: 50%;
  writing-mode: vertical-rl;
  transform: rotateY(180deg) rotateX(180deg);
}

.award-section__container {
  display: flex;
  padding: 24px 0;
  align-items: center;
  gap: 20px;
}

.metrics-section {
  padding: 48px 0;
}

.award-section__items {
  display: flex;
  gap: 64px;
}

.metrics-section__items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  padding-bottom: 48px;
  gap: 32px;
  border-bottom: 1px solid var(--neutral-4);
}

.metrics {
  display: flex;
  gap: 16px;
  align-items: center;
}

.metrics__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.metrics__number {
  font: var(--f-heading-2);
  color: var(--neutral-1);
}

.metrics__text {
  font: var(--f-eyebrow);
  color: var(--neutral-2);
  max-width: 128px;
}

.services-container {
  padding: 112px;
}

.services-container__wrap {
  display: flex;
  gap: 32px;
}

.wrap {
  border: 1px solid var(--primary-3);
  padding: 40px;
}

.wrap__text {
  font: var(--f-heading-4);
  color: var(--neutral-1);
  margin-bottom: 16px;
}

.wrap__text-dop {
  font: var(--f-body-1);
  color: var(--neutral-2);
}

.service-img {
  width: 40px;
  height: 40px;
  margin-bottom: 80px;
}

.section {
  padding: 100px 0;
}

.section__content {
  margin-bottom: 80px;
}

.section__title {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}

.section__title-line {
  width: 64px;
  height: 1px;
  background-color: var(--primary-1);
}

.section__title-text {
  font: var(--f-eyebrow);
  color: var(--primary-1);
}

.section__subtitle {
  font: var(--f-heading-2);
  color: var(--neutral-1);
}

.section__text {
  font: var(--body-1);
  color: var(--neutral-2);
}

.section__subtitle ~ .section__text {
  margin-top: 24px;
}

.about-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.about-section__imgs {
  display: flex;
  gap: 16px;
  position: relative;
}

.about-section__img {
  width: 280px;
  height: 480px;
}

.about-section__img--2 {
  margin-top: 80px;
}

.about-section__svg {
  width: 116px;
  height: 116px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 0px;
}

.footer-container__divider {
  width: 100%;
  height: 1px;
  background-color: var(--neutral-4);
}

.footer-top__title {
  font: var(--f-heading-3);
  color: var(--neutral-1);
  max-width: 592px;
  margin-bottom: 16px;
}

.footer-top__text {
  font: var(--f-heading-3);
  color: var(--primary-1);
}

.right-section__text {
  font: var(--f-body-2);
  color: var(--neutral-1);
}

.footer__address-title {
  font: var(--f-heading-6);
  color: var(--neutral-1);
}

.footer__address-text {
  font: var(--f-body-1);
  color: var(--neutral-2);
  max-width: 300px;
}

.email {
  font: var(--f-heading-6);
  color: var(--primary-1);
}

.number {
  font: var(--f-heading-6);
  color: var(--primary-1);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.footer__address {
  margin-bottom: 32px;
}

.right-section__email {
  margin-bottom: 32px;
}

.icon {
  width: 40px;
  height: 40px;
}

.connect_right-section__text {
  font: var(--f-eyebrow);
  color: var(--neutral-3);
}

.connect_right-section__line {
  width: 64px;
  height: 1px;
  background-color: var(--neutral-3);
}

.connect_right-section {
  display: flex;
  gap: 24px;
  margin: 80px 0;
  align-items: center;
}

.connect_right-section__t_l {
  display: flex;
  gap: 16px;
  align-items: center;
}

.connect_text {
  font: var(--body-1);
  color: var(--neutral-2);
}

.connect_text a {
  color: var(--primary-1);
  text-decoration: none;
}

.connect_text:hover {
  text-decoration: underline;
}

.footer-container__connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  gap: 24px;
}

.social-icon {
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-3);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  cursor: pointer;
  transition: 0.2s ease border-color;
}

.social-icon:hover,
.social-icon:focus-visible {
  border-color: var(--primary-1);
}

.social-icon--instagramm {
  background-image: url(./img/icon/instagram.svg);
}

.social-icon--x {
  background-image: url(./img/icon/x.svg);
}

.social-icon--facebook {
  background-image: url(./img/icon/facebook.svg);
}

.social-icon--youtube {
  background-image: url(./img/icon/youtube.svg);
}
